<div class="max-w-[90vw] mx-auto">
  <h2 mat-dialog-title class="text-center">Add Customer</h2>

  <mat-dialog-content>
    <app-customer-credentials
      [customerForm]="customerForm"
      [errorMessage]="errorMessage"
      (saveChanges)="onSave()"
    ></app-customer-credentials>
    <app-customer-addresses
      [customerForm]="customerForm"
    ></app-customer-addresses>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="customerForm.invalid"
      (click)="onSave()"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
