<form [formGroup]="customerForm" class="space-y-4">
  <mat-form-field class="w-full">
    <mat-label>Full Name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <mat-form-field class="w-full">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
  </div>

  <mat-form-field class="w-full">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="hide() ? 'password' : 'text'"
      />
    <button
      mat-icon-button
      matIconSuffix
      (click)="clickEvent($event)"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide()"
      >
      <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    @if (customerForm.get('password')?.hasError('passwordStrength')) {
      <mat-error
        >
        Password must be at least 8 characters, include 1 uppercase, 1 lowercase,
        1 special character, and 1 number.
      </mat-error>
    }
  </mat-form-field>

  @if (errorMessage) {
    <mat-error class="text-sm">{{ errorMessage }}</mat-error>
  }
</form>
