<div class="mat-elevation-z8">
  <div class="button-container" *ngIf="label == 'Customers'">
    <button (click)="addCustomer()">
      <p>Add Customer</p>
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container
      *ngFor="let column of displayedColumns"
      [matColumnDef]="column"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
      <td mat-cell *matCellDef="let element">
        <!-- Products Column -->
        <ng-container *ngIf="column == 'products'; else ordersCol">
          {{ element.products ? element.products.length : 0 }}
        </ng-container>
        <!-- Orders Column -->
        <ng-template #ordersCol>
          <ng-container *ngIf="column == 'orders'; else addressCol">
            <div *ngFor="let order of element.orders">
              {{ order.orderId }}
            </div>
          </ng-container>
        </ng-template>
        <!-- Address Column -->
        <ng-template #addressCol>
          <ng-container *ngIf="column == 'addresses'; else statusCol">
            <div *ngFor="let address of element.addresses">
              {{ address.street + ", " + address.city }}
            </div>
          </ng-container>
        </ng-template>
        <!-- Status Column -->
        <ng-template #statusCol>
          <ng-container *ngIf="column == 'status'; else normalColumn">
            <select
              matNativeControl
              required
              [(ngModel)]="element.status"
              style="padding: 5px"
            >
              <option value="Pending">Pending</option>
              <option value="Processing">Processing</option>
              <option value="Shipped">Shipped</option>
              <option value="Delivered">Delivered</option>
            </select>
          </ng-container>
        </ng-template>
        <!-- Normal Column -->
        <ng-template #normalColumn>
          {{ element[column] }}
        </ng-template>
      </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <!-- Edit Button -->
        <button mat-icon-button (click)="onEdit(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <!-- Delete Button -->
        <button
          mat-icon-button
          (click)="onDelete(element)"
          *ngIf="label == 'Customers'"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Header and row definitions -->
    <tr
      style="background-color: mediumpurple; color: white; border-color: white"
      mat-header-row
      *matHeaderRowDef="
        label == 'Orders' ? displayedColumns : displayedColumnsWithActions
      "
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: label == 'Orders'
          ? displayedColumns
          : displayedColumnsWithActions
      "
    ></tr>
  </table>
</div>

<!-- Paginator -->
<div style="margin-bottom: 10px; border: 1px solid #2d0a75">
  <mat-paginator
    [length]="dataSource.data.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25]"
    aria-label="Select page"
  ></mat-paginator>
</div>
