<mat-toolbar class="header">
  <button
    mat-icon-button
    *ngIf="localStorage.getItem('currentUser')"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <p
    style="
      font-family:
        OFL Sorts Mill Goudy TT,
        ui-serif;
    "
  >
    C's Candy Shop - Admin Panel
  </p>
  <span class="spacer"></span>
  <button
    mat-icon-button
    *ngIf="localStorage.getItem('currentUser')"
    (click)="signOut()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<!-- Side Navigation -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer mode="over" opened="false">
    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of menuItems"
        [ngClass]="{ indented: item.indent }"
        (click)="navigateTo(item.route, drawer)"
      >
        <div>
          <mat-icon matListIcon>{{ item.icon }}</mat-icon>
          {{ item.label }}
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
