<mat-toolbar color="primary" class="header">
  <img
    src="/assets/logo.png"
    height="55"
    width="60"
    class="img-padding"
    alt=""
  />
  <span>C's Candy Shop - Admin Panel</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    aria-label="Example icon-button with share icon"
    (click)="signOut()"
  >
    <mat-icon *ngIf="localStorage.getItem('currentUser')">logout</mat-icon>
  </button>
</mat-toolbar>

<body class="body">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</body>
