.spacer {
  flex: 1 1 auto;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 56px;
  background-color: #2d0a75;
  color: white;
}

.sidenav-container {
  margin-top: 56px;
  height: calc(100vh - 56px);
}

mat-sidenav {
  width: 250px;
  padding-left: 10px;
}
