<div class="w-[60vw]">
  <h2 mat-dialog-title>Edit Shop</h2>

  <mat-dialog-content>
    <form [formGroup]="shopForm">
      <div class="flex items-start gap-2.5">
        <div class="flex-1">
          <img
            [src]="shopForm.get('image')?.value"
            alt="Shop Image"
            height="200px"
            width="auto"
          />
        </div>
        <div class="flex-2 flex flex-col gap-2.5 w-[60%]">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select formControlName="currency">
              <mat-option value="USD">USD</mat-option>
              <mat-option value="EU">EU</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-slide-toggle formControlName="open">Open</mat-slide-toggle>
        </div>
      </div>

      <!-- Display products with checkboxes -->
      <h3 class="pt-5">Products</h3>
      <div class="flex flex-wrap gap-[16px]">
        <div
          *ngFor="let product of products"
          class="flex-1 min-w-[calc(50%-16px)] box-border border-b border-gray-300"
        >
          <mat-checkbox
            [checked]="isProductChecked(product.id)"
            (change)="toggleProduct(product.id, $event.checked)"
            [disabled]="!product.available"
          >
            {{ product.productName }} - {{ product.price | currency }}
          </mat-checkbox>
          <!-- Add-ons Section -->
          <div *ngIf="product.addOns.length">
            <h6 class="m-0 pl-2.5 text-xs">Add-Ons</h6>
            <div *ngFor="let addOn of product.addOns" class="pl-5">
              <mat-checkbox
                [checked]="isAddOnChecked(product.id, addOn.id)"
                [disabled]="!product.available || !isProductChecked(product.id)"
                (change)="toggleAddOn(product.id, addOn.id, $event.checked)"
              >
                {{ addOn.name }} (+{{ addOn.price | currency }})
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      mat-dialog-close
      (click)="onSave()"
    >
      Save
    </button>
  </mat-dialog-actions>
</div>
