.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.checkbox-item {
  flex: 1 1 calc(50% - 16px);
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.form-container {
  display: flex;
  align-items: flex-start;
  gap: 10px; /* Adjust the gap between image and form fields as needed */
}

.image-container {
  flex: 1; /* Allows the image to take its natural width */
}

.form-fields {
  flex: 2; /* Adjusts the form fields to take up more space */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between form fields */
}

.addOn h6 {
  margin: 0;
  padding-left: 10px;
}

.addOn div {
  padding-left: 20px;
}
